@model RodizioOrganistas.Domain.Entities.Schedule
@{ Layout = null; }
<html><body onload="window.print()"><h3>Rodízio #@Model.Id</h3>
<table border="1" cellpadding="4" cellspacing="0"><tr><th>Data</th><th>Organista</th><th>Meia Hora</th></tr>
@foreach (var i in Model.Items.OrderBy(x=>x.Date)){<tr><td>@i.Date</td><td>@i.OrganistName</td><td>@(i.HalfHourOrganistName ?? "-")</td></tr>}
</table></body></html>
